---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Proucts from '~/components/widgets/Products.astro'
import Catalog from '~/components/widgets/Catalog.astro'

const metadata = {
  title: 'UOMAZ — Connecting Your Business to Endless Possibilities: Your Premier Partner for China Sourcing Success',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'View Products',
        href: '/products',
        icon: 'tabler:arrow-narrow-right',
      },
      { text: 'Contact us', href: '/contact' },
    ]}
  >
    <Fragment slot="title">
      Your Trusted Source <span class="hidden xl:inline">for reilable</span>
      <span class="md:text-white dark:text-white highlight sm:text-black">HVAC Spare Parts</span> !
    </Fragment>

    <Fragment slot="subtitle">
      Trusted Sourcing Agent for all your ventilation spare parts (grill, duct, trunking, bracket) LED lightings (down light, strip light, work light, panel light) building materials (glass, marble, door, window, shower box) needs
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />
  <!-- MainContent Widget -->
  <Proucts 
  title="Feature Products" 
  subtitle="Your One-Stop Source for Quality, Performance, and Savings" 
  items={
    [
        {
          catalog: 'Bracket',
          title: 'Air Diffuser and Grille',
          description: 'Your source for efficient Ventilation Air Valves. Enhance indoor air quality effortlessly. Breathe fresh.',
          image: '/images/uomaz/1-1-Air-Valves.jpg',
          links: '/products#bracket'
        },
        {
          catalog: 'Condenser Support',
          title: 'Flexible Ductwork',
          description: 'Flexible ductwork is a versatile and convenient solution for HVAC systems. ',
          image: '/images/uomaz/2.jpeg',
          links: '/products#condenser'
        },
        {
          catalog: 'Diffuser & Grill',
          title: 'Spiral Duct and Fitting, Damper, Access Door',
          description: 'Discover the excellence of Airandus\' Spiral Duct and Fittings. ',
          image: '/images/uomaz/3-1-Spiral-Duct-and-Fitting3.jpg',
          links: '/products#grill'
        },
        {
          catalog: 'Flexible Duct',
          title: 'Ductwork Components and Accessories',
          description: 'Ductwork Hangers and Supports are essential components used in the installation of duct systems.',
          image: '/images/uomaz/4-1-Ductwork-Hangers2.jpg',
          links: '/products#duct'
        },
        {
          catalog: 'Tape',
          title: 'Adhesive Tapes, Thermal Insulation Material, Sealant',
          description: 'Our high-quality Adhesive Tapes are essential for HVAC applications, providing reliable sealing, joining, and insulation. ',
          image: '/images/uomaz/5-1-Adhesive-Tapes.jpg',
          links: '/products#tapes'
        },
        {
          catalog: 'Bracket',
          title: 'Ventilation Fans',
          description: 'Ventilation fans are essential components of HVAC systems, designed to improve indoor air quality and promote air circulation.',
          image: '/images/uomaz/Inline-duct-fans5.jpg',
          links: '/products#bracket'
        }
      ]
  } />

  <!-- Product Catalog -->
  <Catalog />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="What you get with service"
    subtitle="Your Trusted HVAC Supplier for Quality and Innovation."
    items={[
      {
        title: 'Warehousing Storage',
        description:
          'Our warehouse services provide storage space for your products in China and New Zealand. This means that you can order your products in bulk and store them in China warehouse, saving you shipping costs and time.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Warehousing Consolidation',
        description:
          'You order multiple products from different suppliers in China. Our warehouse service can consolidate your products to ship them all at once, which is more cost-effective than shipping them separately.',
        icon: 'tabler:components',
      },
      {
        title: 'Quality checking',
        description:
          'As an international sourcing agent, we understand the importance of quality control when it comes to product sourcing. We offer a comprehensive quality check service as part of our sourcing process.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Factory Audit',
        description:
          'Factory audit is a service that is designed to assess a factory is quality standards, production processes, and overall compliance with industry regulations. Through this service, auditors can evaluate a factory is facilities.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Logistic',
        description:
          "Uomaz start from the shipping of the goods from the different manufacturers to the loading of the goods into the container for shipment. We also manage the customs clearance process, ensuring that the products comply with all the necessary laws and regulations. ",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Manufacture sourcing',
        description:
          'Manufacture sourcing is a crucial aspect of manufacturing operations that involves identifying and selecting the best possible suppliers for the production of goods. This process involves various steps including assessing supplier capabilities, evaluating product quality.',
        icon: 'tabler:bulb',
      },
    ]}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features>
</Layout>
