---
//import { SITE } from '~/utils/config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <svg
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 800 250"
    enable-background="new 0 0 800 250"
    xml:space="preserve"
    class="h-12 text-gray-500 dark:text-white"
  >
  <image id="image0" x="0" y="0"
  href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAyAAAAD6CAMAAABu49OOAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAZlBMVEX///8AAAAvLS3jWCjj
WCbkWCXkWCbkWSXkWCZXNytgOSzkWCbkWiXkWCbkWSfkWCbiWSbnWCjjWCbfUCDkWCYvLS2cRylR
MymMQyk3LStyOygwLSw7Lip+PygzLSxaNSlBLyn////Nk+dsAAAAFHRSTlMAAABAgGDAkNCDjPAw
oHDgUCCwEOefRmgAAAABYktHRACIBR1IAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAB3RJTUUH6AID
DCoLrxUjBQAAA/56VFh0UmF3IHByb2ZpbGUgdHlwZSB4bXAAAEiJpVdRsqM4DPzXKfYIINkyPg6J
4W+r5nOOv91yQhLgZZOZlyrgGVtqtdRSIr///SX/4G8smsSutpapDD66+cVzSTq4evbi1Rdrqst6
uVxWVaxXT1zJxXJqNqRWhmTYO3mVNJW54GC2MqclJ8cdBs1wSNVWW3Swa5lsLpPjoDc681EH/u9X
X4rxndAD0CRficPm/mLbHkgeZrB24Ym0ndAhT6nlQZTg1hJLlnUx1wY8oyXjSrGKtdGwhJWK/65Y
VRuwNumKO6+jmWiLbTO2DbiqAcHuo7fwFCiwM2tKyXehqcRLhjeVhA+MIZy1xJ8uBbt0CcQlPNdA
RSSKK9227gCIihXkh4yUCWHBA9+/ogAEpAqJUK/BVAVD2HF/76OAsLWAWKLqxD7nggQf8Yaz5ZEi
PJvgsSGUCXgGgge1wz1XD5M4YicEDICgfmXw0qPnRlwzDmamnqHCazc8Hg2jniZEAkQImE+DfAb8
hvtw/BGDnPOSGiTwjYtJXrmBwXYSiJWUcvGeknPjcmb91TgVWpB07FmzRhmsQTLkSvOdUWHNdP/0
kVgpGYbIg2Y6Wf16UNeRq0EStLGpp0IQkGC0lF6ksVXrD85ySv1uDWSHEbUE1bHweR1zohChPYNs
51i/UKDxPLyYbc7iqeJe6sPuqVlwFKuU9BTG7WhWNrvRf7ybHL83LXvbIYbZPRTfaC5SXvmM9puj
LBeogTieSJfOOilkfnj8FnVHY/sD2/7KNGXqf4VbcHTtR1AtijrDMWwBcvQMdh9nx4Q1Km6jOOoe
pliMQUioP+NgwO+bUJg1psWMgKvTkrPPQtSNTMHtgKd0a8bNJuwFit5qJ+MAyPi4E4cy+QcELEgr
W3e4A+jak9vsiE0dyRkjNI13CBdGyFwDzEqkAEK4GJAVizSW+hOxBFgDtsy7DZxwO3TMae1DFIiu
Kck53I2v1FHCf4GrwjoDDRp8QcbO6krYgSligahP1sYZQaaMXE1Ejjuet2HwjAqDOrIGdKXKbmah
NZTxdQ0FAjE/9aSZor5PkqDbONduOr7x8Lz9pU5+LpMetryL+9OwCUAeCEpBsnMH+31rkX1AbKRo
LQlmRzawFFJlRt/3SemN8uM+uf6UCPkpEzg6RmP/MAlykgUqjgII9UW9O6QJeUQSslOGwAv0cIQ1
R6guIQiq3JExHLcDgv9Jwq1byttO/EUS5P20+nxYyQuNNEAK6at/Y1rfZeo5UfI3mXpOlPxJWz3r
qvLUVr/O1Nu59qdykb/J1LNTeZ8pXc9aXnyH2nVKubfK/cHzb9YH8/ErgKvS7e9/+/QDJz/AwFDH
zeHP307yHxFqHqrAfuvRAAAKL0lEQVR42u2d6WLaSBAGg8HEu44vIN77eP+nXDt2kk1iSX1Oz4iq
39L0aPorQEKId+8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB6YbtbYruxcrlf
xDw2nAPVdjyxOy2xMx/e8tin6g5A11TbgSDQNdV2IAh0TbUdCAJdU20HgkDXVNuBINA11XYgCHRN
tR0IAl1TbQeCQNdU24Eg0DXVdiAIdE21HQgCXVNtB4JA11TbgSDQNdV2IAh0TbUdCAJdU20HgkDX
VNuBINA11XYgCHRNtR0IAl1TbQeCQNdU24Eg0DXVdvQpyEUpH8X0WkBWot06GXkuUm3HYIL4F7yD
/MbP2FYCQdYkSOyyI4hndATpTZCMlS8LcNxEvSUQZCWCJK09giDIGgRJXP2KBAdNMqQEgqxAkNTl
RxAEGVyQ5PVvH+Hc0ZUlEGRwQfIb0DrCITMMK4EgYwvSogNnLYjLkOzuIEi5IB8DGp8aqvTcIsjI
gqR34O2A+EcYRxCPIU2aU21Hz4KkN2AiIP4RKgXJr4AgCJIVsYDZIQiCbNr58VZC/CMUChJw/AiC
ILMJyYuYf249lECQLgRJX/7JhORFzD+3hNQiCILoApIXsbyRHaFFkCEFSV/96YSkRcw/tZTQIgiC
qAKSFrG0gX2ZRRAEUSUkK2L+mSVlFkHGEyR98WcCkhWxrHHdkUUQBNEEJCtiWeMiCILkNyI/yAEz
y4osgiCIIiBJEUsaNiKxCDKaIOlrPxeQnIgFTCwvsQiyXkEi2tciyjmjBgXWJIgV1ayq7RhZkLhm
nL0gLQ3RTarajmEFCe1HRNBS0tvKj4aCKCdVbceoggS35OwFaWaIdkrVdgwqSHRT0rOcH1tjBduK
NvMDQd4UJLqbunhkRCw/totDxS5pIz8QxCJIfGOyw2wcMlAQwQY9+oEgbQRRpSMhzQlDKiv0IIjl
uKvtGFGQhN6sXhDtGvTiB4I0EkTzCdya5pjHYdsOVTJQVK2WfiAIgoQcqmicqGIN/UCQcxDEPGDY
j3nrBbEec7UdAwqS0aDcPC/sFHCswnnZpl/pB4K0EuRCPqYxzB/rBJGGTpfNHvxAkFUJYnpafL4g
6u368QNBBhPE8haytIv/WMWp08az3A8EWZcghmdhBwgij51+9rV6IMjZC7JULyCCxk278ANBRhNE
/xlrcQfvsWqCZ8lopR8IsjJBtE/6Xa7nzqBj43o/EGQ4QbRvIcubO49VlzxbTMv8QJC1CaJ7yJak
njOELp3K/UAQBHEKoo2eNak1fiDIeIJEfubPF8S9fa0fCLJyQSSb+o5VnT17WAv8QJABBYn73iFA
EH34HGlN8WN+mGo7EOTHMT2J/m4w0YauYzWkzxXYxn4gyIiCyK/0ijb0HKslfr7EtvUDQVYoiPTe
J3k9cxDDpKryA0FWLYhsM8ex2vLnDW1DPxBkSEFifsGXL0ioViV+IMiaBRGmw3GsxgD6c9vKDwQZ
U5CIp4gECGINYEBwG/mBICsWRBoP+7GaExgR3SZ+IMiggjhvIZEOleRHoiCxeqxekPdnKsjyXY3a
ek0FsRsi1ENeoNqOZEH2ZyyIOCHWY/WEMCq/Nj0U41fbIRJkbxbkarWCOP9uQF8vNuRxCc71Y+2C
LPuxWkHkETEeqyeFP/0cF+FUP8YQ5Nrqx4cVC+J4Qql8IEceXzaa6sDjL4EhTvRjDEFOH4yCCM7R
z1MQSz2TIDdTy/5rZIrz/BhEkFujINdrFsRjSIAgsgqTHXj8LTLGaX4MIsidzQ/ByIM93T1IEPHU
vILcT6/776FBNh76WgQ5XVr8eJC8gVy9tedF5BKvUxBZicP0wj9GJtl24CsSxPIWchRc4524QjaG
IGZD5FMzR/Jlo+PMwkeepuf5MYogpxu9H4IvCU2CZFyjH04QWYnLuZWPO01P9KMHQbaiIGsNkb1/
jC2I0RDF1KyZfN1qtgdLp+nidc70YxxBToejxo8Pd7JRT4c2gmh6N4AgshIP80sfdJqe6sdAgpyu
d2JFjpIvQF7YIUiaILv5pX/8IyLSuX70IIjkfpBXRW7uJY5s30suX9kFsax1jiAmQzRz8x3O0rt4
xGl6sh9jCfLM3f5mN8P7vfDc4zP3TQRRta9/QWQlFm/0CbjSm+1HF4LILjclsTUIEv81rzmwAX7E
C/K61c3S2j/+6V3ndD+6EGRxITPZWATRLrhuuO4FEZZY/qD7l3OZ0/XoQ5DbQj/ubIIEf43lCKzf
jyxB7pdX//Fv1yo38KMLQSQ3pWdxsAoiWnhbalUlpSVmJq09RGGJg2D5/3EtsfbYLVTb8SyI6Kbb
JN7+NW+btZ/KgSowvlKJghwly790mu77WWIE1XZ8EkTyWpPEdnRBlDNV5szxBnIpWf7Hfw3zbSlI
Fx+xNqK1zGGDIEmCyC63L92Q5frRb0Rnqu34JMiDaC0z2I8viGqq2pwZ6r1uJeyp64asFp2ptuOT
IJKHj+RwiyDR71gXOmxTbiVIH1exCj9jPXQhiO8V3f1nfLodbDXsKUeQp0CKrngkcLVBkOCrZlo/
EEQiSNWX6beTgjQ1pJUg+px1IIjjZ78Rjam241WQmtP06+MqBPHekaTZw1jCYwiClL2FTD7zt60g
rlf09Qti/91vRGeq7fgsiOgJJK3eQDZNVn8yAPqs2OokCGLwwyFdi8ZU2/FZENkzrGKZfhxdm9cn
QwirBbGWcAli/l1jRGeq7fgiSPvvQmYeib1KQSwBVRYy+WHXrkVnqu34KkjrD1nXxwVBGhniCqwm
KgGCmEv4BPG9cfo6U23HV0E20oc3BPkx90DsRq9QE703JNBWCEGWq1bb8T9Bmn6fPuvHplEHJnpv
SaCpkLaevYTTEARpbci8H5tWLQi5u9b1IjyGIM7L257WVNvxjSCbD43OQ+4W/nCk7YuUuO8JL8Jz
uwaW8BqCIK8cm/x2avEhja2aoOl7SsSmd40t4RXEexOavTnVdnwnyGZzL31mqJnr5f9SaNMFRVrc
EdPtGl5iQEEuOhXk6UwkVRHRA0yb9EGcloiMKfa0htgjiM2QpMZ8U7DajjcEeVIk7UvDveyfeBo0
QhqWmIiJ97Rn2OUHgqgE2Wy2Nwmn61e3DyI9fhAkvhXCsIRlTLajK8I+QUyGRHflrXLVdkwI8nS6
fhl7vr4X2/GWILHdkGUlMGKSHb0JRpC2gjw7cn8T8lnr7rDbyuWYEiSoI8KsOOOmzGZAggNmgSBK
QV4+bN3vdoe9jcNud7u1/sc6wBPVdgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AHzhP3DTq2tYP/i6AAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDI0LTAyLTAzVDEyOjQyOjEwKzAwOjAw
iJSw7QAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyNC0wMi0wM1QxMjo0MjoxMCswMDowMPnJCFEAAAAo
dEVYdGRhdGU6dGltZXN0YW1wADIwMjQtMDItMDNUMTI6NDI6MTArMDA6MDCu3CmOAAAAAElFTkSu
QmCC" />
  </svg>
</span>
